<app-carousel></app-carousel>

<footer class="footer">
  <div class="footer-content">
    <div class="footer-section about">
      <h2>TRAVE PARK</h2>
      <p>"TRAVE PARK és la seva solució de confiança per a l'estacionament segur de caravanes, autocaravanes i el lloguer de trasters. Amb vigilància les 24 hores i un accés fàcil i protegit, la seva propietat romandrà segura i a l'abast sempre que la necessiti. Garantim la tranquil·litat que mereix perquè la seva única preocupació sigui planificar el seu proper viatge."</p>
    </div>

    <div class="footer-section contact">
      <h2>Contacto</h2>
      <ul class="contact-info">
        <li><a href="tel:+34123456789">+34 644 41 58 01</a></li>
        <li><a href="#">C. Licoristes, 19-21, 43800 Valls, España</a></li>
      </ul>
    </div>

    <div class="footer-section social">
      <h2>Síguenos</h2>
      <div class="social-links">
        <a href="https://www.youtube.com/+"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2024 TRAVE PARK. Todos los Derechos Reservados.</p>
  </div>
</footer>
