<div class="card" style="width: 18rem;">
  <img [src]="character?.picture?.medium" class="card-img-top" alt="{{ character?.name?.first }}'s photo">
  <div class="card-body">
    <h5 class="card-title">{{ character?.name?.title }} {{ character?.name?.first }} {{ character?.name?.last }}</h5>
    <p class="card-text">{{ character?.location?.city }}</p>
    <p class="card-text">Phone: {{ character?.phone }}</p>
    <p class="card-text">Email: {{ character?.email }}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
