<section class="vh-100" style="background-color: #b3abab6d;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="assets/contact.jpeg" alt="Instal·lacions Destacades" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <div>
                  <h2 class="h1 fw-bold mb-0">ENVIA UN EMAIL</h2>
                  <h6>Si tens algun dubte, problema o consulta pots enviar un mail.</h6>
                </div>

                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Email de contacte</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" [(ngModel)]="userEmail" placeholder="name@example.com">
                </div>

                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Escriu el teu missatge:</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" [(ngModel)]="userContent" placeholder="Escriu el teu missatge"></textarea>
                </div>
                <div>
                  <button type="submit" class="btn btn-primary" (click)="enviarCorreu()">Enviar Correu</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
