
<body>
  <header>
    <h1>Benvinguts a TRAVÉ PARK</h1>
  </header>

  <main>
    <div class="card">
      <h2>Qui som?</h2>
      <p>Som una empresa familiar i professional dedicada a l'emmagatzematge de caravanes, autocaravanes i trasters. Amb anys d'experiència, ens esforcem per oferir el millor servei a la nostra comunitat.</p>
    </div>

    <div class="card">
      <h2>Els nostres Serveis</h2>
      <p>Aprofita la nostra excel·lent localització i els serveis que oferim:</p>
      <ul>
        <li>Emmagatzematge segur per a caravanes i autocaravanes.</li>
        <li>Trasters espaiosos per a tot tipus d'emmagatzematge.</li>
        <li>Servei de relloguer de places per als nostres usuaris.</li>
      </ul>
    </div>

    <div class="card">
      <h2>Tarifes</h2>
      <p>Descobreix els nostres preus competitius:</p>
      <ul>
        <li>Caravana / Autocaravana: 65€ per mes.</li>
        <li>Traster: 50€ per mes.</li>
      </ul>
    </div>
  </main>
</body>
