<section class="vh-100" style="background-color: #b3abab6d;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://via.placeholder.com/600x800" alt="Instal·lacions Destacades" class="img-fluid"
                style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <div class="d-flex align-items-center mb-3 pb-1">
                  <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                  <span class="h1 fw-bold mb-0">Benvinguts al nostre negoci de parking!</span>
                </div>

                <p class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Som especialitzats en oferir serveis de parking segur per a caravanes, autocaravanes i trasters. La nostra ubicació cèntrica i les nostres instal·lacions modernes et proporcionen la tranquil·litat que necessites.</p>

                <h3 class="fw-bold mb-3 pb-3">Preus dels nostres serveis:</h3>

                <ul class="price-list">
                  <li>Caravana: 60€ per mes</li>
                  <li>Autocaravana: 65€ per mes</li>
                  <li>Traster: 50€ per mes</li>
                </ul>

                <div class="container">
                  <div class="row">
                    <!-- Aquí van las tarjetas de servicios -->
                  </div>
                </div>

                <h3 class="fw-bold mb-3 pb-3">Instal·lacions destacades:</h3>

                <ul>
                  <li>Vigilància 24/7</li>
                  <li>Accés controlat amb targeta</li>
                  <li>Àrees d'emmagatzematge cobertes</li>
                  <li>Connexió elèctrica disponible</li>
                </ul>

                <h3 class="fw-bold mb-3 pb-3">Com fer una reserva:</h3>

                <p>Per garantir la disponibilitat dels nostres serveis, et recomanem que facis una reserva prèvia. Pots fer-ho trucant al nostre número de contacte o utilitzant el nostre formulari de reserva en línia.</p>

                <p>Estem compromesos a oferir una experiència segura i còmoda per a tots els nostres clients. Gràcies per triar el nostre servei de parking. Estem aquí per ajudar-te amb totes les teves necessitats d'emmagatzematge!</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

