
<body>
  <header>
    <h1>Descobreix les nostres instal·lacions</h1>
  </header>
<section class="instalaciones-section">
  <div class="container">
        <div class="services">
            <div class="service-item">
                <h3>Servei d'Aigua</h3>
                <p>Facilitats per a l'ús d'aigua, ideals per la neteja i el manteniment.</p>
            </div>
            <div class="service-item">
                <h3>Punt de Llum</h3>
                <p>Punts de llum disponibles per a les teves necessitats elèctriques.</p>
            </div>
            <div class="service-item">
                <h3>Aire Comprimit</h3>
                <p>Aire comprimit per a l'inflament de pneumàtics i altres usos.</p>
            </div>
            <div class="service-item">
                <h3>Rentat</h3>
                <p>Serveis de rentat per mantenir la teva caravana o autocaravana neta.</p>
            </div>
            <div class="service-item">
                <h3>Petit Taller</h3>
                <p>Taller equipat per a reparacions bàsiques i manteniment.</p>
            </div>
            <div class="service-item">
                <h3>Vigilància 24h</h3>
                <p>Seguretat garantida amb vigilància les 24 hores del dia.</p>
            </div>
            <div class="service-item">
                <h3>Videovigilància</h3>
                <p>Càmeres de seguretat per a una major tranquil·litat.</p>
            </div>
            <div class="service-item">
                <h3>Alarma i Clau Identificadora</h3>
                <p>Sistema d'alarma avançat i claus identificadores personals per a l'accés.</p>
            </div>
            <div class="service-item">
                <h3>Parking Cobert</h3>
                <p>Les teves caravanes i autocaravanes estaran protegides en un espai cobert.</p>
            </div>
        </div>
    </div>
</section>

</body>

