

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color:blue;
  background-color: #ec0303;
}

.navbar-links{
  color: red;
}
.navbar-login {
  display: flex;
}

.navbar-login {
  margin-left: auto;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 10px;
  color: red;
}
