<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="">
      <img src="/assets/Logo.png" width="30" height="30" routerLink="/" class="d-inline-block align-top" alt="">
      TRAVÉ PARK
    </a>
  </nav>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/informacio">Qui som?</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/instalacions">Instalacions</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/usuaris">Usuaris</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contacte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>

  </div>

</nav>
